/* Imports */
@import url("./fonts.css");

/* Variables */

:root {
      --main-color: #1b1c1e;
      --accent-color: #924b28;
      --font-color: #ffffff;
}

/* CSS reset and defaults */
*,
*::before,
*::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
      font-family: 'Kanit SemiBold';
}

p {
      font-family: 'Kanit ExtraLight', sans-serif;
}

/* Animations */

@keyframes fade-in {
      from {
            filter: blur(5px);
            opacity: 0;
      }

      to {
            filter: blur(0);
            opacity: 1;
      }
} 

/* Utility classes */

/* Page styling */
body {
      background-color: var(--main-color);
      max-width: 2160px;
      margin: 0 auto;
}

nav {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      place-items: center;
}

nav ul li {
      display: inline-block;
      list-style-type: none;
}

nav a {
      text-decoration: none;
      padding: 1em;
      font-size: 1.25em;
}

header {
      padding: 2em;
      display: grid;
      grid-template-columns: minmax(400px, 600px) minmax(100px, 300px);
      -webkit-box-pack: space-evenly;
      justify-content: space-evenly;
}

#bio {
      align-self: baseline;
}

nav {
      font-family: 'Ubuntu Mono';
}

#profile {
      place-self: center;
      width: 85%;
      border-radius: 1em;
      border: 5px solid var(--accent-color);
}

/* Styles for the main content area */
main {
      display: grid;
      grid-template-columns: 
            [full-width-start] 
                  10vw 
                        [content-start] 1fr [content-end] 
                  10vw 
            [full-width-end] 
}

main section {
      background-color: var(--accent-color);
      display: grid;
      padding: 2em;
      margin: 2em 0;
      grid-column: content;
}

main section:nth-of-type(even) > :first-child {
      grid-column: end;
      text-align: right;
}

.fade-in {
      animation: fade-in ease-in-out 750ms;
}

/* Media Queries */
@media (max-width: 1074px) {

      * {
            text-align: center;
      }

      #profile {
            grid-row: 1;
            max-width: 300px;
            align-self: center;
      }

      header {
            grid-template-columns: 1fr;
            gap: 2em;
      }

      main section {
            grid-column: content;
      }

}