@keyframes fade-in-glow {

    0% {
        box-shadow: $dark-gray 0 0 50px 25px;
        transform: translateX(-100px);
        opacity: 0;
    }

    35% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        box-shadow: darken($color: $copper, $amount: 10%) 0 0 50px 25px;
        opacity: 1;
    }

}

@keyframes fade-in {

    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }

}

@-webkit-keyframes fade-in {

    from {
        -webkit-transform: translateX(-100px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes revert-transform {

    to {
        transform: none;
    }

}

@-webkit-keyframes revert-transform {

    to {
        -webkit-transform: none;
    }

}