$dark-gray: hsl(220, 5%, 11%);
$copper: hsl(20, 50%, 26%);
$blue: hsl(220, 38%, 13%);
$grayge: hsl(30, 7%, 44%);
$font-color: hsl(348, 45%, 98%);

:root {
    --dark-gray: hsl(220, 5%, 11%);
    --copper: hsl(20, 50%, 26%);
    --blue: hsl(220, 38%, 13%);
    --grayge: hsl(30, 7%, 44%);
    --font-color: hsl(348, 45%, 98%);
}